.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    display: block;
    width: 4rem;
    height: 2rem;
    margin-top: -8px;
    fill: currentColor;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    display: block;
    width: 4rem;
    height: 2.4rem;
}

.md-typeset h1 {
    font-weight: bold;
    margin: 0em 0 0.25em;
}

.md-typeset h2 {
    font-weight: bold;
    margin: 1.6em 0 .64em;
}

.md-typeset h3 {
    font-weight: bold;
    margin: 1.6em 0 .64em;
}

.md-typeset h4 {
    font-weight: bold;
    margin: 1.6em 0 .64em;
}

:root {
  --md-primary-fg-color:        #00468C;
  --md-primary-fg-color--dark:  #000000;
  --md-accent-fg-color:        #00468C;
}

.md-nav--primary::after{
	content: url("/assets/logo-stdl-transparent-blue.svg");
}

.md-source__facts{
	display: none;
}