.md-header-nav__button.md-logo img,
.md-header-nav__button.md-logo svg {
    display: block;
    width: 4rem;
    height: 2rem;
    margin-top: -8px;
    fill: currentColor;
}

.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg {
    display: block;
    width: 4rem;
    height: 2.4rem;
}

.md-typeset h1 {
    font-weight: bold;
    margin: 0em 0 0.25em;
}

.md-typeset h2 {
    font-weight: bold;
    margin: 1.6em 0 .64em;
}

.md-typeset h3 {
    font-weight: bold;
    margin: 1.6em 0 .64em;
}

.md-typeset h4 {
    font-weight: bold;
    margin: 1.6em 0 .64em;
}

:root {
    --stdl-dark-gray: #5D6580;
    --stdl-light-gray: #C6CBD8;
    --stdl-gray: #8C96AD;
    --md-primary-fg-color: var(--stdl-gray);
    --md-accent-fg-color: var(--stdl-dark-gray);
    --md-primary-fg-color--dark: var(--stdl-dark-gray);
    --md-primary-fg-color--light: var(--stdl-light-gray);
}

.md-header {
    background-color: var(--stdl-dark-gray);
}

.md-nav--primary::after {
    background-image: url("/assets/logo-no-text-500px.png");
    background-size: 150px 150px;
    display: inline-block;
    width: 150px;
    height: 150px;
    content: "";
    margin-top: 50px;
}

/* .md-source__facts {
    display: none;
} */

.md-typeset :is(.abstract, .summary, .tldr)> :is(.admonition-title, summary) {
    background-color: var(--stdl-light-gray);
    border-bottom: 0.5px solid var(--stdl-gray);
}

.md-typeset .admonition.abstract:focus-within,
.md-typeset details.abstract:focus-within {
    box-shadow: none;
}

.md-typeset :is(.admonition, details):is(.abstract, .summary, .tldr) {
    border-color: var(--stdl-gray);
}

.md-typeset :is(.admonition, details):is(.abstract, .summary, .tldr) a {
    color: white;
}

.md-typeset :is(.admonition, details):is(.abstract, .summary, .tldr) a:hover {
    color: var(--stdl-dark-gray);
}

.md-typeset :is(.abstract, .summary, .tldr)> :is(.admonition-title, summary)::before {
    background-color: white;
}

.md-typeset :is(.abstract, .summary, .tldr)> :is(.admonition-title, summary)::after {
    background-color: white;
}

.md-typeset .md-button {
    background-color: var(--stdl-light-gray);
}

.md-typeset .md-button:hover {
    background-color: var(--stdl-light-gray);
    color: var(--stdl-dark-gray);
}